/* 320 - 480 & global styles */


@media screen and (min-width: 480px){
/* small tablet / large phones */


}

@media screen and (min-width: 768px){
/* tablet portrait */


}

@media screen and (min-width: 1024px){
/* tablet landscape / small dekstop */


}

@media screen and (min-width: 1200px){
/* large dekstop */


}

@media print{

}

.placeholder-on {
	color: #85929C !important;
}
:-moz-placeholder {
	color: #85929C !important;
}
::-webkit-input-placeholder {
	color: #85929C !important;
}
:placeholder {
	color: #85929C !important;
}